main > div.wrapper > div.category {
  margin: 10px auto;
  text-align: center;
  padding-bottom: 40px;
}
main > div.wrapper > div.category h3 {
  color: #0c0c0c;
  text-align: center;
  font-size: 21px;
  margin: 30px 0;
}
main > div.wrapper > div.category > div.cat {
  margin-bottom: 20px;
}
main > div.wrapper > div.category > div.cat > div {
  display: inline-block;
}
main > div.wrapper > div.category > div.cat > div > p,
main > div.wrapper > div.category > div.catl > div > p {
  font-size: 12px;
}
main > div.wrapper > div.category > div.cat > div > img {
  border-radius: 6px;
  width: 170px;
  height: 170px;
  padding: 10px 30px 10px 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
main > div.wrapper > div.category > div.catl > div {
  display: inline-block;
}
main > div.wrapper > div.category > div.catl > div > img {
  border-radius: 6px;
  width: 170px;
  height: 170px;
  padding: 10px 30px 10px 30px;
}
/* ---------------------------------------Category2----------------------------------------- */
main > div.wrapper > div.category2 {
  width: 1519px;
  margin: 0 auto 24px auto;
}
main > div.wrapper > div.category2 h3 {
  color: #0c0c0c;
  text-align: center;
  font-size: 21px;
  margin: 30px 0;
}
main > div.wrapper > div.category2 > div.cat,
main > div.wrapper > div.category2 > div.catl {
  width: 1274.6px;
  height: 162.1px;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}
main > div.wrapper > div.category2 > div.catl {
  border-top: unset;
  border-radius: 0 0 10px 10px;
}
main > div.wrapper > div.category2 > div.cat > div,
main > div.wrapper > div.category2 > div.catl > div {
  display: inline-block;
  border-right: 1px solid var(--border-color);
  width: 177.367px;
  height: 162.1px;
  padding: 16px 4px;
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}
main > div.wrapper > div.category2 > div.cat > div:nth-of-type(1),
main > div.wrapper > div.category2 > div.catl > div:nth-of-type(1) {
  border: unset;
}
main > div.wrapper > div.category2 > div.cat > div > div,
main > div.wrapper > div.category2 > div.catl > div > div {
  display: inline-block;
  width: 84px;
  height: 84px;
  padding: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  text-align: center;
  margin-bottom: 15px;
}
main > div.wrapper > div.category2 > div.cat > div > div > img,
main > div.wrapper > div.category2 > div.catl > div > div > img {
  width: 60px;
  height: 60px;
}
main > div.wrapper > div.category2 > div.cat > div > p {
  font-size: 14px;
  text-align: center;
}
/* ---------------------------------------Category3----------------------------------------- */
main > div.wrapper > div.category3 {
  width: 1274.6px;
  height: 418.767px;
  border: 0.8px solid var(--border-color);
  border-radius: 10px;
  margin: 0 auto 24px auto;
}
main > div.wrapper > div.category3 > div.vercat {
  display: inline-block;
  width: 24.7%;
  height: 418.767px;
  padding: 8px 20px;
  box-sizing: border-box;
  border-right: 0.8px solid var(--border-color);
}
main > div.wrapper > div.category3 > div.vercat:first-of-type {
  border: unset;
}
main > div.wrapper > div.category3 > div.vercat > div.p1 {
  width: 284.85px;
  height: 34.4px;
  line-height: 34.4px;
}
main > div.wrapper > div.category3 > div.vercat > div.p1 > h4 {
  color: #232933;
  font-size: 16px;
}
main > div.wrapper > div.category3 > div.vercat > div.p2 {
  width: 284.85px;
  height: 23.8667px;
  line-height: 23.8667px;
}
main > div.wrapper > div.category3 > div.vercat > div.p2 > p {
  color: #81858b;
  font-size: 11px;
}
main > div.wrapper > div.category3 > div.vercat > div.pics {
  width: 284.85px;
  height: 294.467px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
main > div.wrapper > div.category3 > div.vercat > div.pics > div.top {
  display: inline-block;
  width: 100%;
  height: 50%;
  border-bottom: 0.8px solid var(--border-color);
}
main > div.wrapper > div.category3 > div.vercat > div.pics > div > div.pic {
  width: 125.933px;
  height: 130.733px;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  transform: translateY(15px);
  position: relative;
}
main
  > div.wrapper
  > div.category3
  > div.vercat
  > div.pics
  > div
  > #first::after {
  content: " ";
  width: 0.8px;
  height: 294.467px;
  display: block;
  position: absolute;
  left: -2.8px;
  top: -14px;
  background-color: var(--border-color);
}
main > div.wrapper > div.category3 > div.vercat > div.pics > div.bottom {
  display: inline-block;
  width: 100%;
  height: 50%;
}
main
  > div.wrapper
  > div.category3
  > div.vercat
  > div.pics
  > div
  > div.pic
  > img {
  width: 125.933px;
  height: 125.933px;
  transform: translate(8px, -6px);
}
main
  > div.wrapper
  > div.category3
  > div.vercat
  > div.pics
  > div.bottom
  > div.pic {
  transform: translateY(2px);
}
main > div.wrapper > div.category3 > div.vercat > div.more {
  width: 100%;
  height: 26.0333px;
  margin: 10px auto 12px auto;
  text-align: center;
}
main > div.wrapper > div.category3 > div.vercat > div.more > a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: #19bfd3;
}
