main > div.wrapper > div.classicmid {
  width: 1304px;
  height: 102px;
  box-sizing: border-box;
  background-color: #eceeec;
  border-radius: 16px;
  margin: 10px auto 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main > div.wrapper > div.classicmid > div.fresh {
  position: absolute;
  right: 35px;
  top: 22px;
}
main > div.wrapper > div.classicmid > div.p {
  position: relative;
  left: 100px;
  top: 5px;
}
main > div.wrapper > div.classicmid > div.takhfif {
  width: 120px;
  text-align: center;
  position: absolute;
  right: 29.5%;
  top: 40px;
}
main > div.wrapper > div.classicmid > div.takhfif > a {
  display: inline-block;
  width: 108.883px;
  height: 30.1px;
  line-height: 30px;
  font-size: 13px;
  font-family: iranyekanB;
  padding: 0 12px;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #39ae00;
  color: var(--white);
  border-radius: 99px;
}
main > div.wrapper > div.classicmid > div.photo {
  position: relative;
  right: 146px;
  top: 2px;
  margin: 0 5px;
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
main > div.wrapper > div.classicmid > div.photo img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  position: relative;
}
main > div.wrapper > div.classicmid > div.photo::before {
  content: attr(darsad);
  font-size: 12px;
  font-family: iranyekanB;
  width: 34px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  display: block;
  color: var(--white);
  background-color: var(--digi-red);
  position: absolute;
  right: -7px;
  bottom: -3px;
  border-radius: 999px;
  z-index: 2;
}
main > div.wrapper > div.classicmid > div.kala {
  width: 120px;
  text-align: center;
  position: relative;
  right: 150px;
  top: 2px;
}
main > div.wrapper > div.classicmid > div.kala > a {
  display: inline-block;
  width: 141px;
  height: 50.0333px;
  line-height: 50.0333px;
  font-size: 13px;
  font-family: iranyekanB;
  padding: 0 12px;
  box-sizing: border-box;
  text-decoration: none;
  color: #39ae00;
  background-color: var(--white);
  border-radius: 999px;
}
main > div.wrapper > div.classicmid > div.kala > a > span {
  margin-right: 5px;
  font-weight: 600;
  position: relative;
  top: 1px;
}
