* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
*::selection {
  background-color: var(--digi-red);
  color: #dad7cd;
}
@font-face {
  font-family: iranyekan;
  src: url("../font/fa/iranyekanwebregular.e31c09af.woff2");
}
@font-face {
  font-family: iranyekanB;
  src: url("../font/fa/iranyekanwebbold.cfb6e26c.woff2");
}
@font-face {
  font-family: iranyekanM;
  src: url("../font/fa/iranyekanwebmedium.2d4f96e5.woff");
}
@font-face {
  font-family: iranyekanXB;
  src: url("../font/fa/iranyekanwebextrabold.9346e9a2.woff");
}
body {
  font-family: iranyekan;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: #C0C2C5;
  border-radius: 8px;
}
::-webkit-scrollbar-track{
  background-color: var(--white2);
}