div.support > label {
  width: 48px;
  height: 48px;
  line-height: 52px;
  text-align: center;
  background-color: #ef4056;
  position: fixed;
  left: 50px;
  bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}
div.support > label > span {
  font-size: 20px;
  color: var(--white);
  font-weight: 400;
}
div.support > label[for="close"] {
  line-height: 55px;
}
div.support > input[type="radio"] {
  display: none;
}
div.support > label[for="close"] {
  display: none;
}
div.support > input[id="sup"]:checked ~ label[for="close"] {
  display: block;
}
div.support > input[id="sup"]:checked ~ div.suptext {
  display: block;
}

/* sup text */

div.support > div.suptext {
  width: 360px;
  height: 70vh;
  background-color: #ef4056;
  border-radius: 16px;
  position: fixed;
  left: 50px;
  bottom: 75px;
  z-index: 3;
  display: none;
}
div.support > div.suptext > div.p {
  width: 318.4px;
  height: 40.2833px;
  line-height: 40.2833px;
  margin: 15px auto 0 auto;
  position: relative;
}
div.support > div.suptext > div.p > p {
  color: var(--white);
  position: relative;
  top: -7px;
  font-family: iranyekanB;
  font-size: 19px;
}

div.support > div.suptext > div.p > p > label > span {
  position: absolute;
  font-size: 19px;
  font-weight: 400;
  left: 5px;
  top: 10px;
  cursor: pointer;
}
div.support > div.suptext > div.quest {
  height: 462px;
  width: 100%;
  background-color: var(--white);
  border: 1px solid #ef4056;
  box-sizing: border-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 12px 8px 20px 8px;
}
div.support > div.suptext > div.quest > h3 {
  font-size: 19px;
  font-weight: 700;
  margin-top: 4px;
}

div.support > div.suptext > div.quest > p {
  width: 100%;
  height: 90.3px;
  font-size: 13.5px;
  margin: 10px 0 27px 0;
  font-weight: 600;
  word-spacing: 0;
  line-height: 30.1px;
}
div.support
  > div.suptext
  > div.quest
  > div:not(:nth-of-type(4), :nth-of-type(5)) {
  text-align: right;
  width: 325.6px;
  height: 69.85px;
  border: 1px solid var(--border-color);
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 8px;
}
div.support > div.suptext > div.quest > div > div {
  width: 300px;
  height: 44.25px;
  line-height: 32.25px;
  font-size: 15px;
  font-weight: 600;
  box-sizing: border-box;
}

div.support > div.suptext > div.quest > div > div > p > span {
  margin-right: 20px;
  color: #424750;
}
div.support > div.suptext > div.quest > div:nth-of-type(2) {
  height: 102.1px;
}
div.support > div.suptext > div.quest > div:nth-of-type(2) > div > p > span {
  margin-right: 28px;
}
div.support > div.suptext > div.quest > div:nth-of-type(3) {
  height: 134.35px;
}
div.support > div.suptext > div.quest > div:nth-of-type(3) > div > p > span {
  margin-right: 25px;
}
div.support > div.suptext > div.quest > div:nth-of-type(4) {
  margin: 28px auto 15px auto;
  text-align: center;
}
div.support > div.suptext > div.quest > div:nth-of-type(4) > p {
  font-size: 14px;
  font-weight: 700;
}
div.support > div.suptext > div.quest > div:nth-of-type(5) {
  margin: 0 auto;
  text-align: center;
}
div.support > div.suptext > div.quest > div:nth-of-type(5) > a {
  display: inline-block;
  width: 206.383px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 999px;
  background-color: #19bfd3;
  text-decoration: none;
  color: var(--white);
}
div.support > div.suptext > div.quest > div:nth-of-type(5) > a > span {
  margin-right: 5px;
}
